# The port of NestJS application will listen on 
PORT=3000

# The gRPC interface of your Dockerized LND node
# Example: 127.0.0.1:10009 or the ip of the container if running on Docker
LND_SOCKET=127.0.0.1:10009

# Absolute path to the LND node's TLS certificate
# Ensure the NestJS application has read permissions for this file
LND_CERT_PATH=/path/to/lnd/tls.cert

# Absolute path to the LND admin macaroon
LND_MACAROON_PATH=/path/to/lnd/data/chain/bitcoin/signet/admin.macaroon
